@model BerrasBio.Models.BokaViewModel

@{ ViewData["Title"] = "Boka"; }

<img id="header" src="https://thislifeisacinema.files.wordpress.com/2012/04/film-header1.jpg" alt="ASP.NET" class="img-responsive" />

<h3>@ViewData["Message"]</h3>

<div class="row">
    <div class="col-md-3">
        <h2>Filmer och tid</h2>

        <ul>
            @foreach (var x in Model.filmLista)
            {
                <li>
                    <input type="radio" value="10.00" id="level-1" name="price-level" data-price-id="1">
                    @x.FilmTitel @x.Tid
                </li>
            }
        </ul>

    </div>
    <div class="col-md-3">
        <h2>Välj antal Biljetter</h2>
        
            <input type="text" name="IP" id="IP" />

            <ul></ul>
    </div>
    <div class="col-md-3">
        <h2>Antal lediga platser</h2>
        <ul>
            @foreach(var b in Model.biljettLista)
            {
            <li>
                @b.BiljettId @b.Bokad @b.FilmId
            </li>
            }

            @Model.biljettLista.Count 

        </ul>
    </div>
    <div class="col-md-3">
        <h2>Bekräfta</h2>
        <input type="submit" value="Boka" class="btn btn-default" />

        @using (Html.BeginForm("Boka", "Confirmation", FormMethod.Post)){

        <input type="submit" value="Submit" />

          }

    </div>
</div>

<div><p>Här visas din bekräftelse</p></div>
